#header{
    height:450px;
    background: url("../images/oria.jpg") center no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:relative;
    padding-top:50px;
}

#photo{
    margin:30px auto auto auto;
    width:150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;
    background:url("../images/oraa.png") no-repeat #fff;
    background-size:cover;
    border:4px solid #fff;
    box-shadow: rgba(255,255,255,0.8) 0px 0px 10px,inset rgba(0,0,0,0.3) 2px 2px 2px;
}
#nav{background:rgb(29,88,67);height:48px;color:#fff;font:16px/3 "microsoft yahei";text-align: center;box-shadow: inset rgba(0,0,0,0.3) 0px 3px 5px;}
#navList{display: inline-flex;}
.nav-item{text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;}
.nav-a{display: block;padding:0 20px;}
#nav a{color:#fff;cursor: pointer;}
#nav a:hover{background: rgba(0,0,0,0.2);text-shadow: rgba(255,255,255,0.5) 0px 0px 10px;text-decoration: none;}