doctype html
html
    head
        title= title
        link(rel='stylesheet', href='./stylesheets/reset.css')
        link(rel='stylesheet', href='./stylesheets/style.css')
        script(src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js")
        script(src="./javascripts/highlight.pack.js")
        script(src="./javascripts/showdown.js")
        script(src="./javascripts/common.js")
    body
        header#header
            #photo
        nav#nav
            ul#navList
                li.nav-item
                    a.nav-a 我的博客
                li.nav-item
                    a.nav-a github
                li.nav-item
                    a.nav-a 书架
                li.nav-item
                    a.nav-a 我