html
    head
        title aaa
        link(href='../stylesheets/monokai_sublime.css',rel='stylesheet')
        script(src='../javascripts/showdown.js')
        script(src='../javascripts/highlight.pack.js')
        script(src='../javascripts/common.js')
    body
        h1 Bosn
        content#md=content